<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Модульна контрольна робота №1
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-title>
      Виконав Студент групи КН-32 Грицов Ян Олександрович
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Завдання</ion-title>
      <p>Побудувати ієрархію класів, яка буду включати інтерфейси та
        написати крос-платформну програму для вирішення наступної
        задачі(використовувати фреймворк Ionic). Ієрархію класів
        побудувати з використанням принципу High Cohesion + Low
        Coupling та SOLID.
        Для учеників середньої школи необхідно розробити
        застосування для вивчення геометрії та планіметрії. Для
        трьовимірних тіл необхідно розраховувати площину та об‘єм для
        двовимірних площину та периметр та для тих для яких це можливо
        радіус вписаної та описаної окружностей. Тривимірні тіла –
        трикутна піраміда, куб, циліндр, двовимірні тіла - ромб.  Створити
        поліморфний контейнер для їх виведення( як мінімум 3 елемента).
        Результати розрахунків необхідно виводити на екран.</p>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <ion-card-content>
      <ion-input type="number" value="3" #Inputn></ion-input>
      <ion-button (click)="ras(Inputn.value)">Розрахунок</ion-button>
      <p class="result" *ngFor="let shap of shape">{{shap.show()}}</p>
    </ion-card-content>
  </ion-card>
</ion-content>